* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
 }
/* Track */
 ::-webkit-scrollbar-track {
   background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}
/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}
#form {
    background: #dbdbdb;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.form {
    position: absolute;
    top: 10px;
    left: auto;
    right: auto;
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    align-self: center;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .heading {
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: #535353;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin: 16px 0 28px;
  font-weight: 300;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 12px;
}
.form-group.invalid input{
    border: red 1px solid;
}
.form-label,
.form-message {
    font-size: 1.6rem;
    text-align: left;
    padding-bottom: 8px;
}
.form-message {
    padding-top: 4px;
    color: red;
    font-size: 1.4rem;
}
.form-control {
    padding: 10px;
    border: 2px solid #afafaf;
    border-radius: 2px;
}
.form-control:hover {
    border-color: #1dbfaf;
    cursor: pointer;
}
.form-control:focus {
    border-color: #006eff;
    cursor: text;
    outline: none;
}

.form-group.agreement > div {
    word-spacing: 1px;
    text-align: left;
    margin-left: 0px;
}
.agreement label {
    margin-left: 4px;
}
.form-submit {
    border: none;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 24px;
}
.form-submit:hover {
    background-color: rgb(72, 252, 192);
    cursor: pointer;
}
.form-group {
    position: relative;
}
.form-group .eye-views {
    padding: 10px;
}
.form-group ion-icon {
    font-size: 2rem;
}
.form-group ion-icon:hover {
    cursor: pointer;
}
.form-group.invalid .eye-views {
    transform: translateY(-50%);
}
.eye-views {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    right: 4px;
    opacity: 0.7;
    font-size: 1.6rem;
    cursor: pointer;
}
i.eye-on {
   display: none;
}
i.eye-off {
    display: block
}
.form-group.active i.eye-on {
    display: block;
}
.form-group.active i.eye-off {
    display: none;
}
.form-group .gender {
    display: flex;
    font-size: 1.6rem;
}
.form-group .gender label {
    margin-right: 16px;
}
.form-group .gender input{
    margin-right: 5px;
}
.form-group .hobby {
    font-size: 1.6rem;
    text-align: left;
}